body {
    font-family: Roboto, Sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: var(--third-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.list {
    list-style: none;
}

.btn {
    cursor: pointer;
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    display: block;
    margin: 0;
    padding-left: 0;
}