:root {
    --main-color: #757575;
    --second-color: #212121;
    --third-color: #FFFFFF;
    --accent-color: #2196F3;
    --soc-color: #AFB1B8;
    --logo-color: #000000;
    --hero-bckgd-color: #C4C4C4;
    --hero-btn-color: #188CE8;
    --bckgd-color: #F5F4FA;
    --foot-item-color: rgba(255, 255, 255, 0.6);
    --foot-bckgd-color: #2F303A;
    --heard-bord-color: #ECECEC;
    --prtf-bord-color: #EEEEEE;
    --backdrop-bcgd-color: rgba(0, 0, 0, 0.2);
    --border-color: #0000001A;
    --border-color2: rgba(33, 33, 33, 0.2);

}